wp-content/uploads/
wp-includes/
**/attachment/
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.mp4
*.zip
.env
wp-config.php
*.log
Thumbs.db
.DS_Store
wp-json/
xmlrpc.php*
wp-login.php*
*?format=xml
feed/
comments/feed/
